<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/partner_with_us'>RESTAURANT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/add'>Add Resto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/list'>List Resto</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink='/register'>Register</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink='/update'>Update Resto</a>
      </li> -->

    </ul>
    
  </div>
</nav>
<br><br><br>
<div class="container">
<router-outlet></router-outlet>
</div>
<!-- <div class="footer">
  <p>Copyright by &copy; Lakshmi </p>
</div> -->
